$baseFontFamily       : -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Yu Gothic', 'hiragino kaku gothic pro', HiraginoKaku Gothic ProN, YuGothic, Verdana, Meiryo, 'M+ 1p', Apple Coloe Emoji, sans-serif;
$roundFontFamily       : 'ヒラギノ丸ゴ ProN W4','Hiragino Maru Gothic ProN','Osaka';
$baseFontSize         : 1rem;
$largeFontSize        : 1.125rem;
$maxFontSize          : 1.5rem;
$extraFontSize        : 3rem;
$smallFontSize        : 0.875rem;
$minFontSize          : 0.75rem;
$baseFontColor        : $on-background;
$baseFontWeight       : 400;
$boldFontWeight       : 700;
$baseLineHeight       : 1.8;
$baseLetterSpacing    : 0.2rem;
$narrowedLetterSpacing: 0.1rem;
