$desktopScreenSize: 1366px;
$desktopScreenSize: 960px;
$tabletScreenSize : 960px;
$mobileScreenSize : 600px;
$baseSize         : 8px;
$maxZIndex        : 99;
$header-height: $baseSize * 8;
$footer-height: $baseSize * 8;
